---
name: Deploy Pre-Release Artifacts

on:
  pull_request:
    types:
      - closed
    branches:
      - develop

defaults:
  run:
    shell: bash

env:
  LANG: en_US.utf-8
  LC_ALL: en_US.utf-8
  PYTHON_VERSION: '3.10'
  OWNER: eclipse-volttron

jobs:
  deploy-pre-release:
    if: ${{ github.event.pull_request.merged && ! startsWith(github.ref_name, 'releases/') && github.ref_name != 'main' && ! contains(github.event.pull_request.labels.*.name, 'documentation') }}
    uses: eclipse-volttron/github-tooling/.github/workflows/deploy-pre-release.yml@main
    secrets:
      git-token: ${{ secrets.ACTION_DISPATCH_PAT }}
      pypi-token: ${{ secrets.PYPI_TOKEN }}
